* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    _font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: fixed;
}

.visible {display: block !important}

.page-slide {display: none;}

img {
    border: none;
}

table {
    border:none;
}

table td {
    border: none;
}

a {
    border: none;
    text-decoration: none;
    color:#000;
}

a:active {
    border: none;
    text-decoration: none;
    color:#000;    
}

.inner-padding1 {
    padding: 2px 10px;
}

.page-inside1 {
    padding: 60px 10px 100px 10px;
}

.page-inside2 {
    padding: 60px 10px 10px 10px;
}

.page-inside3 {
    padding: 10px 10px 10px 10px;
}

#toolbar-top {
    position: fixed;
    z-index: 900;
    width: 100%;
}

#logout-link {
    color: #fff;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}

#logout-link:active {
    color: #fff;
}

.navbar-variant {
    display: none;
}

.navbar-active {
    display: block !important;
}


div.page {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background: #fff !important;
    z-index: 1;
    overflow-y:scroll;
    overflow-x:hidden;
}

div.activepage {
    display: block !important;
}

div.visiblepage {
    display: block !important;
}

#fade-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.5;
    z-index: 0;
}



#toolbar-bottom {
    position: fixed;
    width: 100%;
    height: 90px;
    top: 100%;
    left:0px;
    margin-top: -90px;
    background: #3a76a7;
    z-index: 100;
}


#toolbar-bottom a {
    display: inline-block;
    width: 32%;
    height: 100px;
    text-align: center;
    padding-top: 5%;    
}

#toolbar-bottom a .image{
    display: inline-block;
    height: 40%;
}

#toolbar-bottom a .image img {
    height: 80%;
}

#toolbar-bottom a .label {
    font-size: 16px;
    color: #fff;
}


div.icon-list {

}

div.icon-list a {
    display: inline-block;
    width: 49%;
    height: 100px;
    text-align: center;
    padding-top: 2%;    
}

div.icon-list a .image{
    display: inline-block;
    height: 60%;
}

div.icon-list a .image img {
    height: 90%;
}

div.icon-list a .label {
    font-size: 16px;
    color: #3a76a7;
}


#preloader {
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -25px;
    margin-top: -45px;
    z-index: 500;
    display: none;
}

#preloader-android {
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -50px;
    margin-top: -60px;
    z-index: 500;
    display: none;
}

#preloader span {
    width: 50px;
    height: 50px;    
}

.template {
    display: none;
}

#preloader-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 499;
    background: rgba(255,255,255,0.5);
    display: none;
}


.form-label {
    width: 50%;
    font-size: 14px;
}

.item-input {
    font-size: 14px;
}





.md-ripple
{
  overflow: hidden;
  position: relative;
}

.md-ripple *
{
  pointer-events: none;
}

.md-ripple-effect
{
  pointer-events: none;
  position: absolute;

  display: block;
  background: #000;

  width: 0;
  height: 0;

  border-radius: 100%;
  z-index: 1;
}

.md-ripple-blue .md-ripple-effect,
.md-ripple-blue .md-ripple-effect,
.md-ripple-blue .md-ripple-effect,
.md-ripple.blue .md-ripple-effect
{
  background: #32C8C8;
}

.md-ripple-green .md-ripple-effect,
.md-ripple-green .md-ripple-effect,
.md-ripple-green .md-ripple-effect,
.md-ripple.green .md-ripple-effect
{
  background: #19C832;
}

.md-ripple-yellow .md-ripple-effect,
.md-ripple-yellow .md-ripple-effect,
.md-ripple-yellow .md-ripple-effect,
.md-ripple.yellow .md-ripple-effect 
{ 
  background: #C8C832;
}

.md-ripple-red .md-ripple-effect,
.md-ripple-red .md-ripple-effect,
.md-ripple-red .md-ripple-effect,
.md-ripple.red .md-ripple-effect
{
  background: #C83219;
}

.md-ripple-white .md-ripple-effect,
.md-ripple-white .md-ripple-effect,
.md-ripple-white .md-ripple-effect,
.md-ripple.white .md-ripple-effect
{
  background: #eee;
}